.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #003956;
    font-size: 20px;
    margin-top: 20px;
    color: white;
}
.header img{
    padding: 0;
    margin-left: 150px;
    width: 200px;
}
.header-items{
    display: flex;
    margin-right: 50px;
}
.headerItem{
    column-width: 1px;
    background-color: #FF3A49;
    margin: 10px;
    padding: 1px 20px 1px 20px;
    border-radius: 15px;
    text-decoration: none;
}
.nosub  {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1043px) {
    
    .plantrabajo{
        padding-bottom: 200px;
    }
}

@media (max-width: 906px){
    .header-items{
        margin-right: 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .header-items{
        font-size: 20px;
    }
    .header{
        display: block;
    }
    .header img {
        margin-left: 0;
    }
    .header-items{
        justify-content: center;
        margin-right: 0 ;
    }
}
@media (max-width: 510px){
    .header-items{
        font-size: 15px;
    }
}
@media (max-width: 475px){
    .header-items{
        font-size: 10px;
    }
}

