.item-ptrabajo{
    max-width: 250px;
    background-color: rgb(229, 219, 203);
    margin: 80px 15px 0 0;
    height: 220px;
    border-radius: 15px;
}
.item-ptrabajo h3{
    color: white;
    background-color: rgb(0, 60, 86);
    padding: 5px;
    border-radius: 15px;
    margin: 15px 15px 5px 15px ;
    width: fit-content;    
}
.item-ptrabajo p{
    color: rgb(0, 60, 86);
}
.star-icon{
    size: 500px;
    color: black;
}

.item-nosotros{
    transition: all 0.5s ease;;
    position: relative;
    max-width: 250px;
    background-color: rgb(229, 219, 203);
    margin: 80px 15px 0 15px;
    height: 320px;
    border-radius: 15px;
    text-align: right;
    
}
.agrandado{
    transition: all 0.5s ease;;
    position: relative;
    max-width: 500px;
    height: 400px;
    
}
.item-nosotros h3{
    color: white;
    background-color: #FF3A49;
    padding: 5px;
    border-radius: 15px;
    margin: 15px 15px 5px 15px ;
    width: fit-content;    
}
.item-nosotros p{
    padding: 10px 15px 0 15px ;
    text-align: justify;
    color: rgb(0, 60, 86);
}
.item-nosotros #hidden-p{
    display: none;
    padding: 10px 15px 0 15px ;
    text-align: justify;
    color: rgb(0, 60, 86);
}
.icono-normal{
    position: absolute;
    padding-right: 15px;
    padding-bottom: 15px;
    bottom: 0;
    right: 0;
}
.icono-ampliado{
    font-size: 25px;
    position: absolute;
    padding-right: 15px;
    padding-bottom: 15px;
    bottom: 0;
    right: 0;
}
